---
import Svg from "@cxa/astro-inline-svg";

interface Props {
  text: string;
  raw: string;
  link: string;
}

const { text, raw, link } = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  target="_blank"
  aria-label={text}
  title={text}
>
  <p class="sr-only">{text}</p>

  <Svg
    class="text-woodsmoke hover:text-tiber dark:text-alice-blue dark:hover:text-granny-apple"
    raw={raw}
    height={30}
    width={30}
  />
</a>
